{% extends 'DimTodoBundle:Default:base.html.twig' %}

{% block body %}
    <h1>Купить акции</h1>

    {{ form(form) }}
    
    <a class="btn btn-primary" href="{{ path('stoke_index') }}">Назад к списку</a>
{% endblock %}
